* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #3f2e56 0%, #453f78 100%);
}